@model IEnumerable<ProjetsWebLicencePro.Models.projet>


<ul>
    @foreach (var item in Model)
    {
            <li>
                @Html.DisplayFor(modelItem => item.nom)
                      
                @Html.DisplayFor(modelItem => item.url)
           
                @Html.DisplayFor(modelItem => item.logo)
            </li>
    }
</ul>

